@import 'theme/variables';
@import 'theme/mixins';

.header {
    padding: 1.5rem 0;
    background-color: $color-white;
    width: 100%;
    position: fixed;
    z-index: 1;
    h1 {
        font-size: 2.4rem;
        font-weight: 500;
    }
}

.back {
    position: absolute;
    padding-left: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

.logoBox {
    margin: auto;
    @include center();
}

.git {
    @include logo-color($color-black);
    width: 6.4rem;
    height: 6.4rem;
    display: inline-block;
    margin-right: 1.5rem;

    @include respond(sm) {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1rem;
    }
}
