// COLORS
$color-text-primary: #262626;
$color-text-secondary: #999999;
$color-link: #1a74ff;
$color-bg: #f5f5f5;
$color-white: #ffffff;
$color-black: #000000;

// FONT
$default-font-size: 1.4rem;

// OTHER
$max-app-width: 113rem;
