@import 'theme/variables';
@import 'theme/mixins';

.body {
    display: flex;
    padding: 2rem;

    &.lg {
        padding: 0;
        flex-wrap: wrap;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    span {
        color: $color-text-secondary;
        font-size: 1.2rem;
    }
}

a.gitLink {
    font-size: 1.2rem;
    color: $color-text-secondary;
    margin-top: auto;
    display: flex;
}

.git {
    @include logo-color($color-text-secondary);
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.login {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

.name {
    font-size: 2.4rem;
    font-weight: 400;
}
