@import 'theme/variables';
@import 'theme/mixins';

.boxContainer {
    border-radius: 4px;
    background-color: $color-white;
    min-width: 30%;
    max-width: 30rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.message {
    @include center();
    flex: 1;
}

.footer {
    border-top: 1px solid $color-bg;
    padding: 1.2rem 0;
    text-align: center;
}
