.ava {
    border-radius: 4px;

    &.timeline {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 0.6rem;
    }

    &.list,
    &.profile {
        margin-right: 1.2rem;
    }

    &.list {
        width: 7.6rem;
        height: 7.6rem;
    }

    &.profile {
        width: 12rem;
        height: 12rem;
    }
}
